<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.skyweednet.weedlook">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".views.login.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="WeedLook"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Mis Muestras"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.add.AddSampleActivity"
            android:label="Registrar Muestra" />
        <activity
            android:name=".views.main.EditSamplesActivity"
            android:label="Editar Muestra" />
        <activity
            android:name=".views.tastings.TastingsActivity"
            android:label="Evaluación"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.mytastings.MyTastingsActivity"
            android:label="Mis Catas" />
        <activity
            android:name=".views.main.SharedSamplesActivity"
            android:label="Muestras Compartidas" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="dfa7dc32a40be9d2190e27b7052164beca0e0658"
            tools:node="replace" />

        <activity
            android:name=".views.tasterguide.TasterGuideActivity"
            android:label="Guia Catador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".views.results.ResultsActivity"
            android:label="Resultados en línea"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>